body {
  background-color: #f0e8a0;
}
.panel-primary > .panel-heading {
  background-color: #b98c8c;
}
.jumbotron {
  margin-top: 30px;
  border: 10px #b98c8c solid;
}
.traxPic {
  width: 100%;
  height: 200px;
}
.btn {
  background-color: #646464;
  color: white;
}